.page{
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
} 

.form{
    /* border: 1px solid red; */
    border-radius: 8px;
    width: 300px;
    height: fit-content;
    padding: 40px 20px;
} 

.form h2{
    text-align: center; 
    font-size: 24px;
} 

.input-field-container{
    display: flex;
    flex-direction: column; 
    gap: 8px; 
    margin-bottom: 14px;
} 

.input-field-container label{
    font-weight: 400;
}

.input-field-container input{
    padding: 12px 12px;
    border-radius: 8px;
    border: 1px solid grey; 
    font-size: 16px;
} 

.form button{
    width: 100%;
    background-color: lightgray;
    color: white; 
    margin-top: 5px;
}